	<?php
	echo '<div style="width: 400px;height: 250px;overflow: scroll;">';
				echo 	'<table width="300">';
				
				foreach($todos_os_horarios as $hora_consulta => $horarios){

					echo '<tr>';
					echo '<td width="10"><input type="radio" name="data[Agendamento][hora]" value="'.$hora_consulta.'"'.$horarios['status'].' '.$checked.' ></td>';
					echo '<td width="390">'.$horarios['status_texto'].' '.$horarios['intervalo_consulta'].'</td>';
					echo '</tr>';

				}

				echo '</table>';
	echo '</div>';
?>